@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainWidth: 66%;
  --buttonColor: tomato;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}
body::before {
  content: "";
  display: none;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
}
ul, li {
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
}
#main {
  width: var(--mainWidth);
  margin-top: 0px;
  margin: auto;
  padding: 0;
  position: relative;
}
#topnav {
  background-color: #c4c4fd;
  overflow: hidden;
  display: flex;
  z-index: 1;
}
#topnav a {
  display: block;
  font-weight: bold;
  color: #111;
  margin: 0;
  padding: 10px 15px;
}
#topnav a:hover {
  color: #5599FF;
  border-bottom: 3px solid blue;
}
#topnav a.active {
  color: #fff;
  background-color: #5599FF;
  border-bottom: 3px solid blue;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow:1px 1px 4px;
  opacity: 0.9;
  z-index: 10;
}
#slide {
  position: relative;
  width: 100%;
  margin: auto;
  background-color: #333;
  cursor: pointer;
  text-align: center;
}
#slide .slideContent {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}
#slide .slideContent:first-child {
  position: static;
}
#slide img {
  /* position: absolute; */
  display: block;
  width: 100%;
}
/* #slide img:first-child {
  position: static;
} */
#slide .show {
  opacity: 1;
  visibility: visible;
}
#slide .prev, #slide .next {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s;
  padding: 14px 12px;
  opacity: 0.3;
}
#slide .prev:hover, #slide .next:hover {
  /* background-color: #777; */
  opacity: 1;
}
#slide .prev:after, #slide .next:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
#slide .prev {
  left: 0;
}
#slide .prev:after {
  transform: rotate(-135deg);
  margin-left: 4px;
}
#slide .next {
  right: 0;
}
#slide .next:after {
  transform: rotate(45deg);
  margin-right: 4px;
}
#slide .dots {
  position: absolute;
  bottom: 8px;
  left: 42%;
  right: 42%;
  padding: 5px;
}
#slide .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#slide .dot:hover, #slide .active {
  background-color: #717171;
}
#slide button {
  border: 2px solid var(--buttonColor);
  color: var(--buttonColor);
  font-size: 30px;
  position: absolute;
  background: none;
  bottom: 30%;
  left: 10%;
  /* right: 40%; */
  padding: 20px;
  transition: background-color 0.3s ease;
}
#slide button:hover {
  border: 2px solid var(--buttonColor);
  background-color: var(--buttonColor);
  color: #fff;
  cursor: pointer;
}
#profile {
  background-color: #fff;
  color: #000;
  padding: 20%;
  padding-top: 61px;
  padding-bottom: 60px;
  transition: all 0.5s ease;
}
/* #profile > h3 {
  margin: 0;
} */
#profile:hover {
  transform: scale(1.15, 1.2);
  border: 1.2px solid #fff;
  background-color: #111;
  color: #fff;
  transition: all 0.5s ease;
  z-index: 20;
}
#profile:hover ~ body::before {
  display: block;
}
#about {
  position: relative;
  padding-top: 50px;
}
#about .section {
  margin: auto;
  width: 86%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
}
#about .card {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 50px;
  text-align: center;
  /* opacity: 0; */
}
#about .section.s1.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease;
  /* animation: slideUp 1.5s forwards;
  animation-timing-function: ease; */
}
#about .section.s2.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease;
}
/* @keyframes slideUp {
  from {top: 100px;}
  to {top: 0px;}
} */
#about .card img {
  display: block;
  width: 100%;
  height: auto;
}
#about .card .overlay {
  position: absolute;
  bottom: 100%;
  background-color: #77DDFF;
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
#about .card .overlay.non {
  background-color: #85858583;
}
#about .card:hover .overlay {
  bottom: 0;
  height: 100%;
}
#about .card .text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#about .card .text a {
  color: #fff;
}
#about .card .text a:visited {
  color: #fff;
}
#about .card .text a:active {
  color: #0101c5;
}
#view .section {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 85%;
  height: 450px;
  padding: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(img/sea.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: auto;
  border-radius: 8px;
}
#view .section.s1 {
  background-position: center top;
}
#view .section.s2 {
  background-position: center center;
}
#view .section.s3 {
  background-position: center bottom;
}
#view .icon {
  width: 150px;
  height: 150px;
  border-radius: 999em;
  background-color: #fff;
  display:flex;
  align-items:center;
  justify-content:center;
  /* flex: 1; */
}
#view .text {
  width: 60%;
  color: #fff;
  font-size: 18px;
  /* flex: 2.5; */
  padding: 3%;
}
#view .s1 .text {
  color: #000000;
}
#contact {
  width: 100%;
  margin-top: 100px;
  padding: 16px;
  background-color: #076fd1;
  color: #fff;
  /* display: flex;
  justify-content: space-around; */
}
#contact li {
  padding: 2px;
}
@media (max-width: 500px) {
  #main, #topnav, #view .section {
    width: 100%;
  }
}