@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  font-family: "Noto Sans TC", sans-serif;
}
#view {
    margin-top: 30px;
    text-align: center;
}
#select {
    width: 130px;
    margin: 10px;
    padding: 5px;
    font-size: 17px;
    border-radius: 10px;
}
.card {
    margin: auto;
    margin-top: 30px;
    border: 1px solid blue;
    width: 250px;
    height: 200px;
    padding: 0;
    display: none;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 3px 3px 6px #505151;
}
.card div:first-child {
    margin: 0.5px;
    padding: 10px;
    background-color: #71a3f2;
    color: #fff;
    border-radius: 13px 13px 0 0;
}
.card div:last-child {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
#info {
    margin-top: 15px;
}