@import url('https://fonts.googleapis.com/css?family=Anton');

$text-color: #14fe17;
$border-color: #14fe17;
$bg-color: #272b23;
$itemBg-color: #10ff0026;

body {
    font-family: 'Anton', sans-serif;
    color: $text-color;
    background-color: $bg-color;
}
body::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.4), 1px, transparent 1px, transparent 2px);
    opacity: 0.3;
    pointer-events: none;
}
ul > li > a {
    color: $text-color;
}
#topNavContainer {
    ul#topNav {
        position: relative;
        padding: 0;
        margin: auto;
        font-size: 30px;
        width: 96.5%;
        flex-wrap: nowrap;
        justify-content: space-around;
        li.nav-item {
            position: relative;
            padding: 0 2rem;
            z-index: 1;
        }
        li.nav-item.active::before {
            content: "";
            position: absolute;
            background-color: $bg-color;
            width: 100%;
            height: 31px;
            top: 31px;
            left: 0;
            border-width: 1px 1px 0 1px;
            border-style: solid;
            z-index: -1;
        }
        .nav-link {
            background-color: $bg-color;
            opacity: 0.6;
        }
        .nav-link.active {
            color: $text-color;
            opacity: 1;
        }
        .nav-link:hover {
            color: $text-color;
            opacity: 1;
        }
    }
    #topNav::before, #topNav::after {
        height: 6px;
        width: 1px;
        content: "";
        position: absolute;
        display: block;
        background-color: $border-color;
        bottom: -6px;
    }
    #topNav::before {
        left: 0;
    }
    #topNav::after {
        right: 0;
    }
}
#subNavContainer {
    margin: auto;
    width: 96.5%;
    font-size: 24px;
    border-top: 1px solid;
    ul.nav.nav-tabs {
        border: none;
        .nav-item {
            margin-left: 40px;
        }
        .nav-link {
            color: $text-color;
            opacity: 0.3;
        }
        .nav-link.active {
            color: $text-color;
            opacity: 1;
            background-color: $bg-color;
            border: none;
        }
        .nav-link.active + .nav-link {
            color: $text-color;
            opacity: 1;
        }
        .nav-link:hover {
            color: $text-color;
            opacity: 1;
            border: none;
        }
        .nav-link.active:hover {
            color: $text-color;
        }
    }
}
#tabContent {
    #tabStat {
        #status {
            #statBarContainer {
                margin: auto;
                width: 45%;
                min-width: 480px;
                .row {
                    margin-top: 10px;
                    margin-bottom: 120px;
                }
                .stat-bar {
                    margin: auto;
                    width: 37px;
                    height: 8px;
                    .lvProgress {
                        width: 100%;
                        height: 100%;
                        border: 1px solid;
                        .lvIndicator {
                            width: 70%;
                            height: 100%;
                            background-color: $text-color;
                        }
                        .w20 {
                            width: 20%;
                        }
                        .w40 {
                            width: 40%;
                        }
                        .w70 {
                            width: 70%;
                        }
                        .w80 {
                            width: 80%;
                        }
                        .w90 {
                            width: 90%;
                        }
                    }
                }
                .row:nth-of-type(4) {
                    margin-bottom: 43px;
                }
            }
            .center-image {
                position: absolute;
                margin: auto;
                margin-top: 100px;
                padding: 0;
                width: 100%;
                top: 89px;
                img {
                    margin: auto;
                    display: block;
                    position: relative;
                    max-height: 300px;
                    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(12) brightness(0.7) contrast(1.5);
                }
            }
            #equipment {
                margin: auto;
                width: 50%;
                .row > div {
                    margin: 4px;
                    margin-top: 15px;
                    background-color: $itemBg-color;
                    img {
                        filter: grayscale(1) brightness(100) contrast(0) sepia(100%) hue-rotate(55deg) saturate(20);
                    }
                }
                .row {
                    flex-wrap: nowrap;
                    text-align: center;
                    div:nth-child(1) {
                        background-color: $bg-color;
                    }
                    div:nth-child(2) {
                        img {
                            width: 100%;
                            min-width: 52px;
                        }
                    }
                    div:nth-child(3) {
                        padding-top: 10px;
                        img {
                            width: 20px;
                        }
                    }
                    div:nth-child(4) {
                        background-color: $bg-color;
                    }
                    div:nth-child(5) {
                        img {
                            margin-top: 5px;
                            width: 85%;
                            min-width: 45px;
                        }
                    }
                    div:nth-child(6) {
                        padding-top: 10px;
                        img {
                            width: 22px;
                            height: 18px;
                        }
                    }
                    div:nth-child(7) {
                        padding-top: 10px;
                        img {
                            width: 23px;
                        }
                    }
                }
            }
        }
    }
    #tabInv {
        #weapons {
            margin-top: 20px;
            width: 100%;
            ul.item-list {
                list-style: none;
                li {
                    margin: 5px 0;
                    a {
                        display: block;
                        width: 300px;
                        padding: 5px 10px;
                        border-radius:2px;
                    }
                    a.active {
                        text-decoration: none;
                        color: $bg-color;
                        background-color: $border-color;
                    }
                    a:hover {
                        text-decoration: none;
                        color: $bg-color;
                        background-color: $border-color;
                    }
                }
            }
            .item-stats {
                position: absolute;
                width: 30%;
                bottom: 150px;
                right: 100px;
                .row-highlight {
                    .row {
                        margin: 4px;
                        color: $text-color;
                        background-color: $itemBg-color;
                        .col-6 {
                            flex: 0 0 63%;
                        }
                    }
                }
            }
        }
    }
}
#bp-footer {
    position: fixed;
    width: 97%;
    bottom: 0;
    margin: 15px;
    flex-wrap: nowrap;
    text-align: center;
    border-bottom: 1px solid $border-color;
    .foo-item {
        margin: 0 3px;
        background: $itemBg-color;
    }
    .foo-item.col-8 {
        flex: 0 0 64.6%;
    }
    #lvProgress {
        display: inline-block;
        margin: 0 13px;
        width: 70%;
        height: 10px;
        border: 1px solid;
    }
    #lvIndicator {
        width: 60%;
        height: 10px;
        background-color: $text-color;
    }
}
#bp-footer::before, #bp-footer::after {
    height: 6px;
        width: 1px;
        content: "";
        position: absolute;
        display: block;
        background-color: $border-color;
        bottom: 0;
}
#bp-footer::before {
    left: 0;
}
#bp-footer::after {
    right: 0;
}